<!DOCTYPE html>
<html lang="en" style="cursor: url('/img/cursor.png'), auto;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content ="<%= locals.description %>">
    
    <!-- Link para fontes do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">


    <!-- Progressive Web Apps -->
    <link rel="manifest" href="/servico/manifest.json">
    <script src="/servico/service-worker-registration.js"></script>

    <!-- Favicon -->
    <link rel="icon" href="/img/icon-192x192.png" type="image/png">

    <!-- Script da Main -->
    <script defer src="/geral/script.js"></script>

    <!-- Estilo da Main -->
    <link rel="stylesheet" href="/geral/main.css">

    <!-- Estilo do Forum -->
    <link rel="stylesheet" href="/pages/forum/style/forum.css">
    
    
</head>
    <body>
        <%- include('../partials/header.ejs')  %>
        <div class="layout">
            <!-- Sidebar Esquerdo -->
            <%- include('../partials/forum-sidebar-esquerda.ejs')  %>
            <!-- Conteúdo Principal -->
            <main class="main-content">
                <%- body %>
            </main>
        </div>
    </body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        if (!localStorage.getItem('AutenticationUserTag')) {
        window.location.href = "/forum/autenticacao"; // Redireciona para a nova página
        }
    });
</script>